
<h4>Product Description	</h4>


<div class="well well-sm" style="width: 30%" >
	<p>
	<li><i>Product Category<%= @category.name%></i></li>
	</p>
</div>

<div class="well well-sm" style="width: 30%;"  >
	<p>
	<li><i>Product Category<%= @subcategory.name%></i></li>
	</p>
</div>
<div class="well well-sm"  >
<p style="text-align: center;">This product is made in japan and very reliable and user This product is made in japan and very reliable and user This product is made in japan and very reliable and user This product is made in japan and very reliable and user This product is made in japan and very reliable and user This product is made in japan and very reliable and user This product is made in japan and very reliable and user This product is made in japan and very reliable and user friendly</p>
</div>

